<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "SnapWander - Travel & Share" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="application.css">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    

    <%= javascript_importmap_tags %>
  </head>

  <body>

    <header>
  <div class="logo-title">
    <%= link_to root_path, class:"site-name-link" do %>
    <span class="site-name"><strong>SnapWander</strong></span>
    <span class="slogan">Travel and Share</span>
    <% end %>
  </div>
</header>


 <!-- Main Content -->
    <main>
    <%= yield %>
    </main>

    <!-- Footer -->
  <footer>
  <p>&copy; 2024 SnapWander<br>All rights reserved.</p>
  <div class="social-links">
    <a href="https://www.facebook.com/suraj.budhathoki.756/" target="_blank" class="social-icon facebook"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/tiny_giant1998/" target="_blank" class="social-icon instagram"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/@tiny_giant1998" target="_blank" class="social-icon youtube"><i class="fab fa-youtube"></i></a>
    <a href="https://www.linkedin.com/in/surajbudhathoki/" target="_blank" class="social-icon linkedin"><i class="fab fa-linkedin-in"></i></a>
  </div>
</footer>

  </body>
</html>
